@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeinsmall {
    from { opacity: 0; }
    to   { opacity: .33; }
}

@-webkit-keyframes rotate-rt {
    0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes slideleft {
    from { left: 3em; }
    to { left: 0; }
}

@keyframes slideup {
    from { top: 3em; }
    to { top: 0; }
}
