.about-site {
    .billboard {
        @include animation(fadein, 1s, forwards);
        background: url('/images/about/about-billboard.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .container {
            background: none;
            color: white;

            @include mobile {
                background: none;
            }

            .info-containers {
                top: 14em;

                .about-container {
                    position: relative;
                    text-align: left;
                    top: -3.4em;
                    width: 18.750em;

                    .head {
                        font-size: .9em;
                        line-height: 1.4em;
                        margin-top: 0.625em;
                    }

                    .detail {
                        font-size: .65em;
                        line-height: 1.6em;
                        margin-top: .6em;
                    }

                    @include mobile {
                        font-size: 1.7em;
                        top: -10em;
                    }
                }
            }
        }
    }

    .skills {
        color: $color2;
        display: inline-block;
        text-align: left;
        width: $siteWidth;

        .skill {
            margin: 1.2em 0 4.5em 0;
            text-align: justify;

            img {
                float: right;
                margin: 0 0 .75em 2em;
                width: 30%;

                @include mobile {
                    width: 48%;
                }
            }

            .title {
                font-size: 2em;
                font-weight: bold;
            }

            .description {
                font-size: 1.3em;
                line-height: 1.8em;

                @include mobile {
                    font-size: 1.3em;
                }
            }

            .keywords {
                .visible {
                    -webkit-animation: fadein .5s forwards, slideleft .5s forwards;
                    -moz-animation: fadein .5s forwards, slideleft .5s forwards;
                    -ms-animation: fadein .5s forwards, slideleft .5s forwards;
                    -o-animation: fadein .5s forwards, slideleft .5s forwards;
                    animation: fadein .5s forwards, slideleft .5s forwards;
                }

                .keyword {
                    background: $color2;
                    border-radius: .15em;
                    color: $color4;
                    cursor: default;
                    display: inline-block;
                    font-weight: bold;
                    margin: 1em 1em 0 0;
                    opacity: 0;
                    padding: .8em;
                    position: relative;

                    &:before {
                        will-change: transform;
                    }
                }
            }

            @include mobile {
                font-size: 2em;
            }
        }

        @include mobile {
            width: $mobileSpace;
        }
    }
}

.about-site {
    @include mobile {
        .info-containers {
            top: 31em !important;
        }

        .details {
            font-size: 2.6em !important;
        }

        .head {
            display: none;
        }
    }
}
