.auth-index {
    background: white;
    padding-top:6.5em;
    text-align: center;
    width: 100%;

    .container {
        display: inline-block;
        height: 25em;
        padding: 2em 0;
        text-align: center;
        width: $siteWidth;
    }
}

.login-form {
    display: inline-block;
    text-align: left;
    width: 30em;

    .head {
        margin-bottom: 1em;
    }

    .primary-button {
        float: right;
        margin-top: .5em;
        width: 5em;
    }
}
