.billboard {
    background: white;
    height: 31.5em;
    margin-top: 2em;
    padding-top: 6.25em;
    text-align: center;
    width: 100%;

    @include mobile {
        height: 50em;
        margin-top: 4em;
    }

    .container {
        display: inline-block;
        height: 100%;
        text-align: center;
        width: $siteWidth;
        z-index: 1;

        img {
            @-webkit-keyframes slide-right {
                100% { left: 0; }
            }

            @keyframes slide-right {
                100% { left: 0; }
            }

            @include user-drag(none);
            display: inline-block;
            height: 22em;
            position: relative;
                top: 3em;
                left: -18.750em;

            -webkit-animation: fadein 2s, slide-right 1s forwards;
            -moz-animation: fadein 2s, slide-right 1s forwards;
            -ms-animation: fadein 2s, slide-right 1s forwards;
            -o-animation: fadein 2s, slide-right 1s forwards;
            animation: fadein 2s, slide-right 1s forwards;

            @include mobile {
                height: 25em;
                margin-right: 2em;
                top: 11em;
            }
        }

        .info-containers {
            @include animation(fadein, 2s, forwards);

            color: $color4;
            cursor: default;
            height: 20.0em;
            position: absolute;
            opacity: 0;
            top: 11.8em;
            width: $siteWidth;

            a {
                @include transition(color, .12s, ease-in);

                color: rgb(84, 172, 190);
                font-size: 1.3em;
                font-weight: bold;
                position: relative;
                    top: 0.625em;
                text-decoration: none;

                &:hover {
                    @include transition(all, .12s, ease-in);
                    color: $color3;
                }

                @include mobile {
                    display: none;
                }
            }

            span {
                display: block;
                margin: .34em 0;
            }

            .title {
                font-size: 3.125em;
                font-weight: bold;

                @include mobile {
                    font-size: 3.8em;
                }
            }

            .details {
                font-size: 1.875em;

                @include mobile {
                    font-size: 2.8em;
                }
            }

            @include mobile {
                top: 21em;
                width: $mobileSpace
            }
        }

        .left-container {
            display: inline-block;
            float: left;
            text-align: left;
        }

        .right-container {
            display: inline-block;
            float: right;
            text-align: right;
        }

        @include mobile {
            width: $mobileSpace;
        }
    }
}
