.blog-site {
    background: white;
    padding-top: 6.250em;
    text-align: center;
    width: 100%;

    .container {
        display: inline-block;
        padding: 3em 0;
        text-align: left;
        width: 48em;

        a {
            @include shadow;
            @include transition(background, .15s, ease-in);

            background: $color1 !important;
            border-radius: $borderRadius;
            color: white !important;
            display: inline-block;
            font-size: 1.1em;
            margin-top: 1em;
            padding: .8em;
            text-align: center;
            text-decoration: none;

            &:hover {
                background: $color2 !important;
                border-color: $color2 !important;

                -moz-transition: all .2s ease-in;
                -o-transition: all .2s ease-in;
                -webkit-transition: all .2s ease-in;
                transition: all .2s ease-in;
            }

            &:active {
                @include box-shadow(0, 2px, 13px, 0, rgba(0, 0, 0, .28));
            }

            @include mobile {
                font-size: 2.2em;
            }
        }

        img {
            @include shadow;
            @include user-drag(none);

            border-radius: .15em;
            position: relative;
            width: 100%;

            -webkit-animation: fadein 1s forwards, slideup .3s forwards;
            -moz-animation: fadein 1s forwards, slideup .3s forwards;
            -o-animation: fadein 1s forwards, slideup .3s forwards;
            animation: fadein 1s forwards, slideup .3s forwards;
        }

        .title {
            border-bottom: .06em solid $borderGray;
            font-size: 2.7em;
            font-weight: bold;
            margin-bottom: .5em;
            padding-bottom: .04em;

            @include mobile {
                font-size: 5em !important;
            }
        }

        .date {
            color: $color2;
            font-size: 1.2em;
            margin-bottom: 1.3em;

            @include mobile {
                font-size: 2em;
            }
        }

        .preview {
            display: block;
            font-size: 1.2em;
            line-height: 1.8em;
            margin-top: 1em;
            text-align: justify;

            @include mobile {
                font-size: 2.4em !important;
            }
        }

        @include mobile {
            padding: 1em;
            width: 90%;
        }
    }

    @include mobile {
        padding: 12em 0 3em 0;
    }
}
