.primary-button {
    @include shadow;
    @include transition(color, .15s, ease-in);

    background: none;
    border: .1em solid rgb(0, 119, 181) !important;
    border-radius: .15em;
    color: rgb(0, 119, 181);
    cursor: pointer;
    display: block;
    font-size: 1.4em;
    outline: none;
    padding: .4em 0;
    text-align: center !important;
    width: 4.8em;

    &:active {
        @include box-shadow(0, 2px, 13px, 0, rgba(0, 0, 0, .28));
    }

    &:focus {
        background: rgb(0, 119, 181);
        color: white;
    }

    &:hover {
        @include transition(all, .1s, ease-in);
        background: rgb(0, 119, 181);
        color:white;
    }

    @include mobile {
        background: rgb(0, 119, 181);
        color:white;
        font-size: 2.3em;
        height: 3em;
        left: 0;
        margin-bottom: 1em;
        width: 8em;
    }
}

.cancel-button {
    border: .1em solid grey !important;
    color: grey;
    width: 4.6em;

    &:hover {
        @include transition(all, .1s, ease-in);
        background: grey !important;
    }
}

.danger-button {
    border: .1em solid $red !important;
    color: $red;
    width: 4.6em;

    &:hover {
        @include transition(all, .1s, ease-in);
        background: $red !important;
    }
}

.success-button {
    border: .1em solid $green !important;
    color: $green;
    cursor: not-allowed;
    width: 4.6em;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;

    &:active {
        @include box-shadow(0, 2px, 13px, 0, rgba(0, 0, 0, 0));
    }

    &:hover {
        background: none;
        border-color: $green;
        color: $green;
    }

    @include mobile-contact-button;
}
