.index-site {
    .billboard {
        background: url("/images/index/index-billboard.svg");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;

        canvas {
            @include animation(fadein, 4s, ease-in);

            position: absolute;
            left: 0;
            top: 6.25em;

            @include mobile {
                margin-top: 4em !important;
                height: 50em !important;
            }
        }

        .info-containers {
            @include animation-delay(1s);
        }
    }

    .body {
        .see-more {
            @include shadow
            @include transition(color, .2s, ease-in);

            background: none;
            border: .1em solid rgb(54, 142, 160);
            border-radius: $borderRadius;
            color: rgb(54, 142, 160);
            display: inline-block;
            font-size: 1.2em;
            font-weight: bold;
            margin: 1.25em 0 2.5em 0;
            padding: .4em;
            text-align: center;
            text-decoration: none;

            &:hover {
                @include transition(all, .2s, ease-in);

                background: rgb(54, 142, 160);
                color: white;
            }

            @include mobile {
                background: rgb(54, 142, 160);
                border-radius: $borderRadius;
                color: white;
                display: inline-block;
                font-size:2.5em;
                margin-top: 1.5em;
                padding: .6em 1.2em;
            }
        }

        .portfolio {
            padding-bottom: .1em;

            @include mobile {
                .project-container {
                    &:nth-child(3) {
                        display: none;
                    }
                }
            }
        }
    }
}
