.nav-bar {
    @include animation(slide, .5s, forwards);
    background: $color0;
    height: 6.250em;
    line-height: 6.250em;
    position: fixed;
    text-align: center;
    top: -6.250em;
    vertical-align: middle;
    width: 100%;
    z-index: 100;

    @include mobile {
        height: 10em;
    }

    .hamburger {
        display: none;
    }

    input {
        display: none;
    }

    .container {
        display: inline-block;
        text-align: center;
        width: $siteWidth;

        @include mobile {
            width: 100%;
        }
    }

    img {
        @include transition(opacity, .2s, ease-in);
        height:3em;
        opacity: 1;
        vertical-align: middle;

        &:active {
            @include transition(transform, .55s, ease-in);
            @include transform(scale(.9));
        }

        &:hover {
            @include transition(opacity, .2s, ease-in);
            opacity: .9;
        }
    }

    .logo {
        display: inline-block;
        float: left;
        padding-right: 4.25em;
        position: relative;

        img {
            @include transition(filter, .15s, ease-in);
        }

        @include mobile {
            float: right;
            padding-right: 2.5%;

            img {
                height: 5em;
                padding-top: 2.5em;
            }
        }
    }

    .nav-item-list-parent {
        display: inline-block;
    }

    .nav-item-list {
        display: inline-block;
        font-size: 1.475em;
        position: relative;
        text-align: center;
        z-index: 50;

        .nav-item {
            margin: 0 .8em;
            position: relative;

            &:active {
                opacity: .5;
            }

            &:before {
                @include transition(all, .2s, ease-in);
                background-color: $color4;
                content: "";
                height: .08em;
                position: absolute;
                bottom: 0;
                left: 0;
                visibility: hidden;
                width: 0%;

                @include mobile {
                    content: none;
                    display: none;
                }
            }

            &:hover:before {
                @include transition(all, .2s, ease-in);
                background-color: $color3;
                visibility: visible;
                width: 100%;
            }

            &:first-child {
                display: none;
            }
        }

        .selected {
            color: $color3;

            &:before {
                visibility: hidden !important;
            }
        }

        @include mobile {
            display: none;
        }
    }

    .nav-social-list {
        display: inline-block;;
        float: right;
        position: relative;
            right: -.55em;

        .nav-social {
            &:first-child {
                margin: 0 0.625em;
            }

            img {
                @include transition(filter, .15s, ease-in);
                display: inline-block;
                -moz-filter: none;
                -o-filter: none;
                -webkit-filter: none;
                filter: none;
            }
        }

        @include mobile {
            display: none;
        }
    }

    a {
        @include transition(color, .2s, ease-in);
        color: $color4;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            @include transition(all, .15s, ease-in);
            color: $color3;
        }
    }

    @-webkit-keyframes slide {
        100% {
            top: 0;
        }
    }

    @keyframes slide {
        100% {
            top: 0;
        }
    }
}



.mobile-menu {
    display: none;

    @include mobile {
        @include box-shadow(0, 2px, 13px, 0, rgba(0, 0, 0, .7));
        display: block;
        position: fixed;
        text-align: left;
        z-index: 100;

        .black-cover {
            display: none;
            pointer-events: none;

            @include mobile {
                @include transition(all, .15s, ease-in );
                background: rgba(0, 0, 0, .66);
                display: block;
                height: 150%;
                opacity: 0;
                position: fixed;
                    top: 10em;
                width: 100%;
                z-index: 0;
            }
        }

        .nav-item-list-parent {
            @include transition(left, .15s, linear);
            background: $color2;
            font-size: 150%;
            height: 100%;
            position: fixed;
                left: -100%;
                top: 6.66em;
            width: 50%;
            z-index: 100;

            a {
                color: white;
                text-decoration: none;
            }

            .nav-item {
                display: block;
                border-top: .03em solid rgba(240, 240, 255, .1);
                font-size: 2.5em;
                height: 2em;
                line-height: 2em;
                padding-left: 2.5%;
                vertical-align: middle;

                &:first-child {
                    border-width: 0;
                }
            }

            .selected {
                color: $color3;
            }
        }

        input {
            @include touch-callout(none);
            cursor: pointer;
            display: block;
            height: 4em;
            opacity: 0;
            position: fixed;
                left: 2.5%;
                top: 3em;
            width: 5em;
            z-index: 102;

            &:checked ~ .nav-item-list-parent {
                @include transition(left, .15s, linear);
                left: 0;
            }

            &:checked ~ .black-cover {
                @include transition(all, .15s, linear);
                left: 0;
                opacity: 1;
                pointer-events: all;
            }

            &:checked ~ .hamburger {
                span {
                    background: $color3 !important;
                }
            }
        }

        .hamburger {
            @include user-select(none);
            display: inline-block;
            position: fixed;
                left: 2.5%;
                top: 3em;
            z-index: 101;

            span {
                background: $color4;
                border-radius: .11em;
                display: block;
                height: .5em;
                margin-bottom: 1.2em;
                width: 5em;;
                z-index: 1;

                transform-origin: 4px 0px;
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;

                &:first-child {
                    transform-origin: 0% 0%;
                }

                &:nth-last-child(2) {
                    transform-origin: 0% 100%;
                }
            }
        }
    }
}
