.portfolio {
    display: block;
    list-style-type: none;
    text-align: center;
    width: 100%;

    .container {
        display: inline-block;
        text-align: left;
        width: $siteWidth;

        .visible {
            -webkit-animation: fadein 1s forwards, slideup .5s forwards;
            -moz-animation: fadein 1s forwards, slideup .5s forwards;
            -ms-animation: fadein 1s forwards, slideup .5s forwards;
            -o-animation: fadein 1s forwards, slideup .5s forwards;
            animation: fadein 1s forwards, slideup .5s forwards;
        }

        .project-container {
            display: inline-block;
            padding: 0 2% 1.563em 0;
            width: 32%;

            &:nth-child(3n) {
                padding-right: 0;
            }

            @include mobile {
                padding-right: 3% !important;
                width:48.5% !important;

                &:nth-child(2n) {
                    padding-right: 0 !important;
                }
            }
        }

        .project {
            @include box-sizing(border-box);
            @include shadow;
            @include transition(all, .2s, ease-in);

            background: rgb(240, 240, 243);
            border: .1em solid rgb(220, 220, 230);
            border-radius: $borderRadius;
            display: block;

            opacity: 0;
            position: relative;
            text-align: left;

            * {
                @include transition(all, .2s, ease-in);
            }

            &:hover {
                @include shadow-hover;
                @include transition(box-shadow, .2s, ease-in);
            }



            a {
                color: inherit;
                text-decoration: none;

                &:hover > .project-arrow {
                    @include transition(all, .2s, ease-in);
                    opacity: 1;
                    right: .4em;
                }

                img {
                    @include user-drag(none);
                    border-bottom: .05em solid rgb(230, 230, 230);
                    border-top-left-radius: $borderRadius;
                    border-top-right-radius: $borderRadius;
                    height: 12.5em;
                    object-fit: cover;
                    width: 100%;
                }

                .project-info {
                    display: inline-block;
                    font-size: 1.09em;
                    padding: .4em 0 .7em .5em;
                    width: 100%;

                    .project-title {
                        color: rgb(70, 70, 70);
                        font-weight: bold;
                        line-height: 1.8em;
                    }

                    .project-type {
                        color: rgb(70, 70, 70);
                    }
                }

                .project-arrow {
                    color: rgb(200, 200, 210);
                    display: inline-block;
                    font-size: 2em;
                    opacity: 0;
                    float:right;
                    position: absolute;
                    right: 0em;
                    bottom: .55em;

                    -moz-transition: opacity .15s ease-in, right .15s ease-in;
                    -o-transition: opacity .15s ease-in, right .15s ease-in;
                    -webkit-transition: opacity .15s ease-in, right .15s ease-in;
                    transition: opacity .15s ease-in, right .15s ease-in;
                }
            }

            @include mobile {
                height: 27.65em;

                img {
                    height: 20em !important;
                }

                .project-arrow {
                    display: none !important;
                }

                .project-info {
                    font-size: 1.85em !important;
                }

            }
        }

        @include mobile {
            width: $mobileSpace;
        }
    }
}

.portfolio-site {
    .body {
        padding-top: 6.5em;

        @include mobile {
            padding-top: 11em;
        }
    }

    .portfolio {
        padding: 2em 0;
    }
}
