@include mobile {
    html {
        touch-action: manipulation;
    }
}

a {
    outline: 0;
}

body {
    background: $color0;
    font-family: "Raleway", sans-serif;
    font-size: 90%; // Scale the site
}

fieldset {
    border: none;
}

input[type=text], input[type=password], textarea {;
    @include transition(all, .2s, ease-in);
    border-color: $borderGray !important;

    &:disabled {
        opacity: .5;
    }

    &:focus {
        @include box-shadow(0, 2px, 3px, 0, rgba(0, 0, 0, .1));
        @include transition(all, .2s, ease-in)
        border-color: $color1 !important;
    }
}

input {
    @include box-sizing(border-box);
    background: white;
    border: .08em solid rgb(230, 230, 230);
    border-radius: $borderRadius;
    color: $color1;
    font-size: 1.2em;
    outline: none;
    padding: .3em;
}

input[type=submit] {
    border: none;
}

textarea {
    @include box-sizing(border-box);
    background: white;
    border: .1em solid rgb(230, 230, 230);
    border-radius: $borderRadius;
    color: $color1;
    font-size: 1.012em;
    outline: none;
    padding: .3em;
    resize: none;
}

ul {
    margin: 0;
    padding: 0;
}

.body {
    background: white;
    text-align: center;
    width: 100%;

    .container {
        display: inline-block;
        text-align: center;
        width: 100%;

        .content {
            display: inline-block;
            padding: .5em 0;
            width: $siteWidth;

            .title {
                border-bottom: .08em solid rgb(213, 213, 223);
                color: $color1;
                cursor: default;
                display: inline-block;
                font-size: 1.25em;
                height: 2em;
                line-height: 4em;
                margin-bottom: 2em;
                width: 100%;

                span {
                    background: white;
                    padding: 0 2em;
                }

                @include mobile {
                    font-size: 2.3em;
                }
            }

            @include mobile {
                width: $mobileSpace;
            }
        }
    }
}

.not-found-site {
    .billboard {
        background: url("/images/404.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.footer {
    background: url("/images/reuse/footer.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 101%;
    color: $color4;
    font-size: 1.188em;
    height: 10em;
    padding-top: 10em;
    position: relative;
    top: -.1em;
    width: 100%;
    z-index: -1;

    .copyright {
        line-height: 5.625em;
        text-align: center;
        vertical-align: middle;
    }

    @include mobile {
        font-size: 2em;
        height: 5em;
        padding-top: 4em;
        position: relative;
    }
}

.modal {
    background: white;
    padding: 2em;

    position:fixed;
    left: 30%;
    top: 30%;
    right: 30%;

    p {
        font-size: 1.2em;
        line-height: 1.5em;
        padding-bottom: 1em;
    }

    .head {
        border-bottom: .11em solid $borderGray;
        font-size: 1.5em;
        font-weight: bold;
        padding-bottom: .5em;
    }

    .primary-button {
        float: right;
    }

    .danger-button {
        margin-left: 1em;
    }
}
