.blog-site {
    background: white;
    padding-top: 6.250em;
    text-align: center;
    width: 100%;

    .container {
        display: inline-block;
        padding: 3em 0;
        text-align: left;
        width: 48em;

        a {
            background: $color1 !important;
            border-radius: $borderRadius;
            color: white !important;
            display: inline-block;
            font-size: 1.1em;
            margin-top: 1em;
            padding: .8em;
            text-align: center;
            text-decoration: none;

            -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.19);
            -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.19);
            -o-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.19);
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.19);

            -moz-transition: background .15s ease-in;
            -o-transition: background .15s ease-in;
            -webkit-transition: background .15s ease-in;
            transition: background .15s ease-in;

            &:hover {
                background: $color2 !important;
                border-color: $color2 !important;

                -moz-transition: all .2s ease-in;
                -o-transition: all .2s ease-in;
                -webkit-transition: all .2s ease-in;
                transition: all .2s ease-in;
            }

            &:active {
                -webkit-box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.28);
                -moz-box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.28);
                -o-box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.28);
                box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.28);
            }

            @media only screen and (max-width: $mobileWidth) {
                font-size: 2.2em;
            }
        }

        img {
            border-radius: .15em;
            position: relative;
            width: 100%;

            -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.19);
            -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.19);
            -o-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.19);
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.19);

            -webkit-animation: fadein 1s forwards, slideup .3s forwards;
            -moz-animation: fadein 1s forwards, slideup .3s forwards;
            -o-animation: fadein 1s forwards, slideup .3s forwards;
            animation: fadein 1s forwards, slideup .3s forwards;
        }

        .title {
            border-bottom: .06em solid $borderGray;
            font-size: 2.7em;
            font-weight: bold;
            margin-bottom: .5em;
            padding-bottom: .04em;

            @media only screen and (max-width: $mobileWidth) {
                font-size: 5em !important;
            }
        }

        .date {
            color: $color2;
            margin-bottom: 1.1em;

            @media only screen and (max-width: $mobileWidth) {
                font-size: 2em;
            }
        }

        .preview {
            display: block;
            font-size: 1.1em;
            line-height: 2em;
            margin-top: 1em;
            text-align: justify;

            @media only screen and (max-width: $mobileWidth) {
                font-size: 2.3em !important;
            }
        }

        @media only screen and (max-width: $mobileWidth) {
            padding: 1em;
            width: 90%;
        }
    }

    @media only screen and (max-width: $mobileWidth) {
        padding: 12em 0 3em 0;
    }
}
