$color0: rgb(28, 29, 33);
$color1: rgb(49, 53, 61);
$color2: rgb(68, 88, 120);
$color3: rgb(146, 205, 207);
$color4: rgb(238, 239, 247);

$borderGray: rgb(210, 210, 210);
$borderRadius: .15em;
$mobileWidth: 70em;
$mobileSpace: 95%;
$red: rgb(190, 20,70);
