.about-site {
    .billboard {
        background: rgb(0, 141, 187);

        @media only screen and (max-width: $mobileWidth) {
            background: url('/images/about-billboard.jpg');
            background-size: 146%;
        }

        .container {
            background: url('/images/about-billboard.jpg');
            color: white;

            -webkit-animation: fadein 2s forwards;
            -moz-animation: fadein 2s forwards;
            -ms-animation: fadein 2s forwards;
            -o-animation: fadein 2s forwards;
            animation: fadein 2s forwards;

            @media only screen and (max-width: $mobileWidth) {
                background: none;
            }


            .info-containers {
                -webkit-animation: fadein 2s forwards;
                -moz-animation: fadein 2s forwards;
                -ms-animation: fadein 2s forwards;
                -o-animation: fadein 2s forwards;
                animation: fadein 2s forwards;

                .about-container {
                    position: relative;
                    text-align: left;
                    top: -.4em;
                    width: 18.750em;

                    .head {
                        font-size: .81em;
                        line-height: 1.4em;
                        margin-top: 0.625em;
                    }

                    .detail {
                        font-size: .55em;
                        line-height: 1.6em;
                        margin-top: .6em;
                    }

                    @media only screen and (max-width: $mobileWidth) {
                        font-size: 1.7em;
                        top: -9.5em;
                    }
                }
            }
        }
    }

    .skills {
        color: $color2;
        display: inline-block;
        text-align: left;
        width: 72em;

        .skill {
            margin: 1.2em 0 4.5em 0;
            text-align: justify;

            .title {
                font-size: 2em;
                font-weight: bold;
            }

            .description {
                font-size: 1.2em;
                line-height: 1.5em;
            }

            .keywords {
                .keyword {
                    background: $color2;
                    border-radius: .15em;
                    color: $color4;
                    cursor: default;
                    display: inline-block;
                    font-weight: bold;
                    margin: 1em 1em 0 0;
                    padding: .8em;
                }
            }

            @media only screen and (max-width: $mobileWidth) {
                font-size: 2em;
            }
        }

        @media only screen and (max-width: $mobileWidth) {
            width: $mobileSpace;
        }
    }
}
