.billboard {
    background: white;
    height: 31.5em;
    padding-top: 6.25em;
    text-align: center;
    width: 100%;

    .container {
        display: inline-block;
        height: 100%;
        text-align: center;
        width: 65.0em;

        img {
            @-webkit-keyframes slide-right {
                100% { left: 1.375em; }
            }

            @keyframes slide-right {
                100% { left: 1.375em; }
            }

            display: inline-block;
            height: 38.750em;
            position: relative;
            top: -7.188em;
            left: -18.750em;

            -webkit-animation: fadein 2s, slide-right 1s forwards;
            -moz-animation: fadein 2s, slide-right 1s forwards;
            -ms-animation: fadein 2s, slide-right 1s forwards;
            -o-animation: fadein 2s, slide-right 1s forwards;
            animation: fadein 2s, slide-right 1s forwards;
        }

        .info-containers {
            cursor: default;
            height: 20.0em;
            position: absolute;
            opacity: 0;
            top: 13.125em;
            width: 18.750em;

            -webkit-animation: fadein 2s forwards;
            -moz-animation: fadein 2s forwards;
            -ms-animation: fadein 2s forwards;
            -o-animation: fadein 2s forwards;
            animation: fadein 2s forwards;

            -moz-animation-delay: 1s;
            -o-animation-delay: 1s;
            -webkit-animation-delay: 1s;
            animation-delay: 1s;

            span {
                display: block;
                margin: .34em 0;
            }

            .title {
                font-size: 3.125em;
                font-weight: bold;
            }

            .details {
                font-size: 1.875em;
            }
        }

        a {
            color: rgb(54, 142, 160);
            font-weight: bold;
            position: relative;
            top: 0.625em;
            text-decoration: none;

            &:before {
                background-color: rgb(54, 142, 160);
                content: "";
                height: .11em;
                position: absolute;
                bottom: 0;
                left: 0;
                visibility: hidden;
                width: 0%;

                -moz-transition: all .2s ease-in;
                -o-transition: all .2s ease-in;
                -webkit-transition: all .2s ease-in;
                transition: all .2s ease-in;
            }

            &:hover:before {
                visibility: visible;
                width: 100%;

                -moz-transition: all .2s ease-in;
                -o-transition: all .2s ease-in;
                -webkit-transition: all .2s ease-in;
                transition: all .2s ease-in;
            }
        }

        .developer-container {
            text-align: left;
        }

        .engineer-container {
            text-align: right;
            position: absolute;
            left: 52.063em;
            top: 0;
        }
    }
}
