.billboard {
    background: white;
    height: 604px;
    text-align: center;
    width: 100%;

    .container {
        display: inline-block;
        height: 100%;
        text-align: center;
        width: 1040px;

        img {
            @-webkit-keyframes slide-right {
                100% { left: 22px; }
            }

            @keyframes slide-right {
                100% { left: 22px; }
            }

            display: inline-block;
            height: 620px;
            position: relative;
            top: -15px;
            left: -300px;

            -webkit-animation: fadein 2s, slide-right 1s forwards;
            -moz-animation: fadein 2s, slide-right 1s forwards;
            -ms-animation: fadein 2s, slide-right 1s forwards;
            -o-animation: fadein 2s, slide-right 1s forwards;
            animation: fadein 2s, slide-right 1s forwards;
        }

        .info-containers {
            height: 320px;
            position: absolute;
            opacity: 0;
            top: 210px;
            width: 250px;

            -webkit-animation: fadein 2s forwards;
            -moz-animation: fadein 2s forwards;
            -ms-animation: fadein 2s forwards;
            -o-animation: fadein 2s forwards;
            animation: fadein 2s forwards;

            -moz-animation-delay: 1s;
            -o-animation-delay: 1s;
            -webkit-animation-delay: 1s;
            animation-delay: 1s;

            span {
                display: block;
                margin: 10px 0;
            }

            .title {
                font-size: 50px;
                font-weight: bold;
            }

            .details {
                font-size: 30px;
            }
        }

        a {
            color: rgb(54, 142, 160);
            font-weight: bold;
            padding-top: 8px;
            position: relative;
            top: 10px;
            text-decoration: none;

            &:before {
                background-color: rgb(54, 142, 160);
                content: "";
                height: 2px;
                position: absolute;
                bottom: 0;
                left: 0;
                visibility: hidden;
                width: 0%;

                -moz-transition: all .2s ease-in;
                -o-transition: all .2s ease-in;
                -webkit-transition: all .2s ease-in;
                transition: all .2s ease-in;
            }

            &:hover:before {
                visibility: visible;
                width: 100%;

                -moz-transition: all .2s ease-in;
                -o-transition: all .2s ease-in;
                -webkit-transition: all .2s ease-in;
                transition: all .2s ease-in;
            }
        }

        .developer-container {
            text-align: left;
        }

        .engineer-container {
            text-align: right;
            position: absolute;
            left: 833px;
            top: 0;
        }
    }
}
