.blog-site {
    background: white;
    padding-top: 6.250em;
    text-align: center;
    width: 100%;

    .container {
        display: inline-block;
        padding: 3em 0;
        text-align: left;
        width: 45em;

        img {
            border-radius: .15em;
            width: 100%;

            -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.19);
            -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.19);
            -o-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.19);
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.19);
        }

        .title {
            border-bottom: .06em solid $borderGray;
            font-size: 2.7em;
            font-weight: bold;
            margin-bottom: .5em;
            padding-bottom: .04em;

            @media only screen and (max-width: $mobileWidth) {
                font-size: 5em !important;
            }
        }

        .date {
            color: $color2;
            margin-bottom: 1.1em;

            @media only screen and (max-width: $mobileWidth) {
                font-size: 2em;
            }
        }

        .preview {
            font-size: 1.1em;
            line-height: 2em;
            margin-top: 1em;
            text-align: justify;

            @media only screen and (max-width: $mobileWidth) {
                font-size: 2.3em !important;
            }
        }
        @media only screen and (max-width: $mobileWidth) {
            padding: 1em;
            width: 90%;
        }
    }

    @media only screen and (max-width: $mobileWidth) {
        padding-top: 12em;
    }
}
