$color0: rgb(28, 29, 33);
$color1: rgb(49, 53, 61);
$color2: rgb(68, 88, 120);
$color3: rgb(146, 205, 207);
$color4: rgb(238, 239, 247);

$borderGray: rgb(230, 230, 230);
$borderRadius: .15em;
$mobileWidth: 70em;

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url("../../public/fonts/Raleway.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slideup {
    from { top: 3em; }
    to { top: 0; }
}

@media only screen and (max-width: $mobileWidth) {
    html {
        touch-action: manipulation;
    }
}

a {
    outline: 0;
}

body {
    background: $color1;
    font-family: "Raleway", sans-serif;
    font-size: 90%; // Scale the site
}

input[type=text], textarea {;
    border-color: rgb(200, 200, 200);

    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;

    &:disabled {
        opacity: .5;
    }

    &:focus {
        border-color: $color1;

        -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.10);
        -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.10);
        -o-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.10);
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.10);

        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
    }
}

input[type=text] {
    background: white;
    border: .08em solid rgb(230, 230, 230);
    border-radius: $borderRadius;
    color: $color1;
    font-size: 1.2em;
    outline: none;
    padding: .3em;
}

input[type=submit] {
    border: none;
}

textarea {
    background: white;
    border: .1em solid rgb(230, 230, 230);
    border-radius: $borderRadius;
    color: $color1;
    font-size: 1.012em;
    outline: none;
    padding: .3em;
    resize: none;
}

ul {
    margin: 0;
    padding: 0;
}

.body {
    background: $color4;
    border-top: .2em solid rgb(230, 230, 240);
    border-bottom: .3em solid rgb(45, 45, 45);
    text-align: center;
    width: 100%;

    .container {
        display: inline-block;
        text-align: center;
        width: 100%;

        .content {
            display: inline-block;
            width: 65em;

            .title {
                border-bottom: .11em solid rgb(223, 223, 233);
                color: $color1;
                cursor: default;
                display: inline-block;
                font-size: 1.25em;
                height: 2em;
                line-height: 4em;
                margin-bottom: 2em;
                width: 100%;

                span {
                    background: $color4;
                    padding: 0 2em;
                }

                @media only screen and (max-width: $mobileWidth) {
                    font-size: 2.3em;
                }
            }
        }
    }
}

.index-site {
    .body {
        .see-more {
            background: $color4;
            border: .1em solid rgb(54, 142, 160);
            border-radius: $borderRadius;
            color: rgb(54, 142, 160);
            display: inline-block;
            font-size: 1.2em;
            font-weight: bold;
            margin: 1.25em 0 2.5em 0;
            padding: .4em;
            text-align: center;
            text-decoration: none;

            -webkit-box-shadow: 0 .125em .3em 0 rgba(0,0,0,0.10);
            -moz-box-shadow: 0 .125em .3em 0 rgba(0,0,0,0.10);
            -o-box-shadow: 0 .125em .3em 0 rgba(0,0,0,0.10);
            box-shadow: 0 .125em .3em 0 rgba(0,0,0,0.10);

            -moz-transition: color .2s ease-in;
            -o-transition: color .2s ease-in;
            -webkit-transition: color .2s ease-in;
            transition: color .2s ease-in;

            &:hover {
                background: rgb(54, 142, 160);
                color: white;

                -moz-transition: all .2s ease-in;
                -o-transition: all .2s ease-in;
                -webkit-transition: all .2s ease-in;
                transition: all .2s ease-in;
            }

            @media only screen and (max-width: $mobileWidth) {
                background: rgb(54, 142, 160);
                border-radius: $borderRadius;
                color: white;
                display: inline-block;
                font-size:2.5em;
                margin-top: 1.5em;
                padding: .6em 1.2em;
            }
        }

        .portfolio {
            padding-bottom: .1em;

            @media only screen and (max-width: $mobileWidth) {
                .portfolio-item-container {
                    &:nth-child(3) {
                        display: none;
                    }
                }
            }
        }
    }
}

.not-found-site {
    .container {
        background: url("/images/not-found-billboard.jpg");
    }
}

.footer {
    background: $color1;
    color: $color4;
    font-size: 1.188em;
    height: 5.625em;
    width: 100%;

    .copyright {
        line-height: 5.625em;
        text-align: center;
        vertical-align: middle;
    }

    @media only screen and (max-width: $mobileWidth) {
        font-size: 2em;
    }
}

@import "normalize";
@import "about";
@import "billboard";
@import "blog";
@import "contact";
@import "nav";
@import "portfolio";
