.portfolio {
    display: block;
    list-style-type: none;
    padding-bottom: 2.5em;
    text-align: center;
    width: 100%;

    .container {
        display: inline-block;
        text-align: left;
        width: 65em;

        .ghost {
            background: rgba(255, 255, 255, .75) !important;

            -o-transition: all .2s ease-in;
            -moz-transition: all .2s ease-in;
            -webkit-transition: all .2s ease-in;
            transition: all .2s ease-in;

            *:not(.portfolio-arrow) {
                opacity: .8;

                -o-transition: all .2s ease-in;
                -moz-transition: all .2s ease-in;
                -webkit-transition: all .2s ease-in;
                transition: all .2s ease-in;
            }
        }

        .visible {
            -webkit-animation: fadein 1s forwards, slideup .5s forwards;
            -moz-animation: fadein 1s forwards, slideup .5s forwards;
            -ms-animation: fadein 1s forwards, slideup .5s forwards;
            -o-animation: fadein 1s forwards, slideup .5s forwards;
            animation: fadein 1s forwards, slideup .5s forwards;
        }

        .portfolio-item-container {
            display: inline-block;
            padding: 0 2% 1.563em 0;
            width: 32%;

            &:nth-child(3n) {
                padding-right: 0;
            }

            @media only screen and (max-width: $mobileWidth) {
                padding-right: 3% !important;
                width:48.5% !important;

                &:nth-child(2n) {
                    padding-right: 0 !important;
                }
            }
        }

        .portfolio-item {
            background: white;
            border-radius: 0.15em;
            display: inline-block;

            opacity: 0;
            position: relative;
            text-align: left;


            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;

            -moz-box-shadow: 0 .13em .13em rgb(220, 220, 220);
            -o-box-shadow: 0 .13em .13em rgb(220, 220, 220);
            -webkit-box-shadow: 0 .13em .13em rgb(220, 220, 220);
            box-shadow: 0 .13em .13em rgb(220, 220, 220);

            -o-transition: all .2s ease-in;
            -moz-transition: all .2s ease-in;
            -webkit-transition: all .2s ease-in;
            transition: all .2s ease-in;

            * {
                -o-transition: all .2s ease-in;
                -moz-transition: all .2s ease-in;
                -webkit-transition: all .2s ease-in;
                transition: all .2s ease-in;
            }

            &:hover {
                -moz-box-shadow: 0 .13em .13em rgb(195, 195, 195);
                -o-box-shadow: 0 .13em .13em rgb(195, 195, 195);
                -webkit-box-shadow: 0 .13em .13em rgb(195, 195, 195);
                box-shadow: 0 .13em .13em rgb(195, 195, 195);

                -o-transition: box-shadow .2s ease-in;
                -moz-transition: box-shadow .2s ease-in;
                -webkit-transition: box-shadow .2s ease-in;
                transition: box-shadow .2s ease-in;
            }



            a {
                color: inherit;
                text-decoration: none;

                &:hover > .portfolio-arrow {
                    opacity: 1;
                    left: -.4em;

                    -moz-transition: all .2s ease-in;
                    -o-transition: all .2s ease-in;
                    -webkit-transition: all .2s ease-in;
                    transition: all .2s ease-in;
                }

                img {
                    border-bottom: .05em solid $borderGray;
                    height: 11.75em;
                    object-fit: cover;
                    marginbottom: .3em;
                    width: 100%;
                }

                .portfolio-item-info {
                    display: inline-block;
                    font-size: 1.09em;
                    padding: .2em 0 .7em .5em;
                    width: 17em;

                    .portfolio-item-title {
                        color: rgb(70, 70, 70);
                        font-weight: bold;
                        line-height: 1.8em;
                    }

                    .portfolio-item-type {
                        color: rgb(70, 70, 70);
                    }
                }

                .portfolio-arrow {
                    color: rgb(210, 210, 210);
                    display: inline-block;
                    font-size: 2em;
                    opacity: 0;
                    float:right;
                    position: relative;
                    left: 0em;
                    top: .33em;

                    -moz-transition: opacity .15s ease-in, left .15s ease-in;
                    -o-transition: opacity .15s ease-in, left .15s ease-in;
                    -webkit-transition: opacity .15s ease-in, left .15s ease-in;
                    transition: opacity .15s ease-in, left .15s ease-in;
                }
            }

            @media only screen and (max-width: $mobileWidth) {
                height: 27.5em;

                img {
                    height: 20em !important;
                }

                .portfolio-arrow {
                    display: none !important;
                }

                .portfolio-item-info {
                    font-size: 1.8em !important;
                }

            }
        }
    }
}

.portfolio-site {
    .body {
        padding-top: 9em;

        @media only screen and (max-width: $mobileWidth) {
            padding-top: 13em;
        }
    }
}
