.portfolio {
    display: inline-block;
    list-style-type: none;
    padding-bottom: 2.5em;
    text-align: left;
    width: 65em;

    &:hover > .portfolio-item {
        opacity: .5;

        -moz-transition: opacity .15s ease-in;
        -o-transition: opacity .15s ease-in;
        -webkit-transition: opacity .15s ease-in;
        transition: opacity .15s ease-in;
    }

    &:hover > .portfolio-item:hover {
        opacity: 1;

        -moz-transition: opacity .15s ease-in;
        -o-transition: opacity .15s ease-in;
        -webkit-transition: opacity .15s ease-in;
        transition: opacity .15s ease-in;
    }

    .portfolio-item {
        background: white;
        border: 0.125em solid $borderGray;
        border-top: 0.063em solid $borderGray;
        border-bottom: 0.188em solid rgb(210, 210, 210);
        border-radius: 0.313e;
        display: inline-block;
        height: 13.75em;
        margin: 0 1.563em 1.563em 0;
        opacity: 1;
        padding: .5em;
        text-align: left;
        width: 19.313em;

        -moz-transition: opacity .15s ease-in;
        -o-transition: opacity .15s ease-in;
        -webkit-transition: opacity .15s ease-in;
        transition: opacity .15s ease-in;

        -webkit-animation: fadein 1s;
        -moz-animation: fadein 1s;
        -ms-animation: fadein 1s;
        -o-animation: fadein 1s;
        animation: fadein 1s;

        &:last-child {
            margin-right: 0;
        }

        a {
            color: inherit;
            text-decoration: none;

            img {
                border-radius: 0.188em;
                height: 10.75em;
                width: 100%;
                padding-bottom: .25em;
            }

            .portfolio-item-title {
                color: $color1 !important;
                font-size: 1.25em;
                font-weight: bold;
            }

            .portfolio-item-type {
                color: $color1 !important;
                font-size: 1.063em;
            }
        }
    }
}

.portfolio-site {
    .body {
        padding-top: 10.25em;
    }
}
