.portfolio {
    display: block;
    list-style-type: none;
    padding-bottom: 2.5em;
    text-align: center;
    width: 100%;

    .container {
        display: inline-block;
        text-align: left;
        width: 65em;


        .portfolio-item {
            background: white;
            border: 0.125em solid $borderGray;
            border-top: 0.063em solid $borderGray;
            border-bottom: 0.188em solid rgb(215, 215, 230);
            border-radius: 0.15em;
            display: inline-block;
            margin: 0 2% 1.563em 0;
            opacity: 1;
            text-align: left;
            width: 32%;

            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;

            -moz-transition: opacity .15s ease-in;
            -o-transition: opacity .15s ease-in;
            -webkit-transition: opacity .15s ease-in;
            transition: opacity .15s ease-in;

            -webkit-animation: fadein 1s;
            -moz-animation: fadein 1s;
            -ms-animation: fadein 1s;
            -o-animation: fadein 1s;
            animation: fadein 1s;

            -o-transition: border-color .2s ease-in;
            -moz-transition: border-color .2s ease-in;
            -webkit-transition: border-color .2s ease-in;
            transition: border-color .2s ease-in;

            &:hover {
                border-bottom: 0.188em solid rgb(185, 185, 210);

                -o-transition: border-color .2s ease-in;
                -moz-transition: border-color .2s ease-in;
                -webkit-transition: border-color .2s ease-in;
                transition: border-color .2s ease-in;
            }

            &:nth-child(3n) {
                margin-right: 0;
            }

            a {
                color: inherit;
                text-decoration: none;

                &:hover > .portfolio-arrow {
                    opacity: 1;
                    left: -.4em;

                    -moz-transition: all .2s ease-in;
                    -o-transition: all .2s ease-in;
                    -webkit-transition: all .2s ease-in;
                    transition: all .2s ease-in;
                }

                img {
                    border-bottom: .05em solid $borderGray;
                    height: 11.75em;
                    object-fit: cover;
                    marginbottom: .3em;
                    width: 100%;
                }

                .portfolio-item-info {
                    display: inline-block;
                    font-size: 1.06em;
                    padding: .2em 0 1em .5em;
                    width: 17em;

                    .portfolio-item-title {
                        color: rgb(70, 70, 70);
                        font-weight: bold;
                        line-height: 1.8em;
                    }

                    .portfolio-item-type {
                        color: rgb(70, 70, 70);
                    }
                }

                .portfolio-arrow {
                    color: rgb(180, 180, 220);
                    display: inline-block;
                    font-size: 2em;
                    opacity: 0;
                    float:right;
                    position: relative;
                    left: 0em;
                    top: .3em;

                    -moz-transition: opacity .15s ease-in, left .15s ease-in;
                    -o-transition: opacity .15s ease-in, left .15s ease-in;
                    -webkit-transition: opacity .15s ease-in, left .15s ease-in;
                    transition: opacity .15s ease-in, left .15s ease-in;
                }
            }
        }
    }
}

.portfolio-site {
    .body {
        padding-top: 9em;
    }
}
