@import 'normalize';

$color0: rgb(28, 29, 33);
$color1: rgb(49, 53, 61);
$color2: rgb(68, 88, 120);
$color3: rgb(146, 205, 207);
$color4: rgb(238, 239, 247);

.body {
    background: $color4;
}

.footer {
    background: $color1;
    color: $color4;
    height: 90px;

    .copyright {
        line-height: 90px;
        text-align: center;
        vertical-align: middle;
    }
}

.navBar {
    background: $color0;
    height: 100px;

    .navItemList {
        text-align: center;
        vertical-align: middle;

        .navItem {
            margin: 0 10px 0 10px;
        }
    }

    .navSocialList {
        float: right;
    }

    a {
        color: $color4;
        text-decoration: none;
    }
}
